[submodule "vim/bundle/simplefold"]
	path = vim/bundle/simplefold
	url = git://github.com/vim-scripts/simplefold.git
[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/tcomment"]
	path = vim/bundle/tcomment
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/rooter"]
	path = vim/bundle/rooter
	url = git://github.com/airblade/vim-rooter.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/AutoComplPop"]
	path = vim/bundle/AutoComplPop
	url = git://github.com/vim-scripts/AutoComplPop.git
  ignore = untracked
[submodule "vim/bundle/auto-pairs"]
	path = vim/bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule "vim/bundle/AutoTag"]
	path = vim/bundle/AutoTag
	url = git://github.com/vim-scripts/AutoTag.git
[submodule "vim/bundle/autoclose"]
	path = vim/bundle/autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule "vim/bundle/ragtag"]
	path = vim/bundle/ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/endwise"]
	path = vim/bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
